@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .mask-fade-right {
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
  }
}